
body{
    
    background-color: pink;
    color: black;
    border-style: hidden;
    text-align: center;
}

#titulo{ 
    Color: red;
    text-align: center;
    text-decoration: solid;
}
#TITULO3{
    color: blue;
    font-weight: 700;
    text-decoration: double;
    text-align: center;
}